@mixin flex($justify-content, $align-items) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  @if ($align-items == "true") {
    align-items: center;
  }
}
.card {
  border: 1px solid #1c1b1b;
  border-radius: 4px;
  padding: 16px 12px;
  max-width: 300px;
  height: auto;

  @include flex(center, "true");

  &--divider {
    width: 100%;
    border: 1px solid #3f3c3c;
  }
  &__content {
    width: 100%;
    height: fit-content;
    @include flex(center, "false");

    &--button {
      cursor: pointer;
      padding: 4px 8px;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(25, 59, 92, 0.3);
      transition: border 0.5s ease-in-out;
      border: 2px solid #1c1b1b;
      color: #8c8b8b;
      font-size: 1rem;

      &:hover {
        color: rgba(11, 39, 65, 0.8);
      }
    }
    &--button--disabled {
      cursor: not-allowed;
      pointer-events: none;
      padding: 4px 8px;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(25, 59, 92, 0.3);
      transition: border 0.5s ease-in-out;
      border: 2px solid #1c1b1b;
      color: rgba(11, 39, 65, 0.8);
    }
  }
}
